<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.grid-background {
  fill: #444;
}

.grid line {
  stroke: #fff;
}

.grid .minor line {
  stroke-opacity: .5;
}

.grid text {
  display: none;
}

.axis line {
  stroke: #000;
}

.axis path,
.grid path {
  display: none;
}

</style>
<body>
<div id="tooltip" style="height: 20px; padding-left: 20px"></div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var scalingFactor = 0.8;
var margin = {top: 0, right: 20, bottom: 20, left: 20},
    width = (1480 - margin.right - margin.left)*scalingFactor,
    height = 110 - margin.top - margin.bottom;

var values = d3.range(3330);

var x = d3.time.scale()
    .domain([0, Math.ceil(d3.max(values) * 26000)])
    .range([0, 1440*scalingFactor+2]);


var y = d3.scale.linear()
    .range([0, height]);

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .ticks(d3.time.hour, 1)
    .tickFormat(d3.time.format.utc('%H:%M'));


/*
var circle = svg.selectAll("circle")
    .data([32, 57, 112, 293]);

var circleEnter = circle.enter().append("circle");
*/


var tooltip = d3.select("body").selectAll("#tooltip")
  .append("div")
  .style("position", "absolute")
  .style("z-index", "10")
  .style("visibility", "hidden")
  .text("a simple tooltip");


var hoursData = [
      {"startTime": 0, "length": 20, "color": "orange"},
      {"startTime": 60, "length": 60, "color": "red"},
      {"startTime": 120, "length": 180, "color": "green"},
      {"startTime": 1380, "length": 60, "color": "blue"}
    ]

var rectangle = svg.selectAll("rect")
  .data(hoursData)

var rectangleEnter = rectangle.enter().append("rect")
  .attr("x", function(d, i){
    return d.startTime*scalingFactor;
  })
  .attr("y", 50)
  .attr("width", function(d, i){
      return d.length*scalingFactor;
  })
  .attr("height", 40)
  .attr("fill", function(d, i){
    return d.color;
  })
  .on("mouseover", function(d) {
    d3.select(this).transition().duration(200)
    .style("fill", "#1bc3a2")
    tooltip.style("visibility", "visible").text("Selected: " + d.startTime )
  })
  .on("mouseout", function(){
    d3.select(this).transition().duration(400)
    .style("fill", function(d, i){
      return this.color;
    })
    tooltip.style("visibility", "hidden")
  })


svg.append("g")
    .attr("class", "grid")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.svg.axis().scale(x).ticks(5).tickSize(-height))
  .selectAll(".tick")
    .data(x.ticks(10), function(d) { return d; })
  .exit()
    .classed("minor", true);



svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

</script>